$medium: 768px;
$large: 1200px;

@media screen and (min-width: $medium) {
  .nav-menu {
    /* border: red solid 1px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: auto;
    top: auto;
    gap: 15px;
    width: auto;
  }
  
  .hamburger {
    display: none;
  }

  .download-btn {
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.5rem;
    height: 50px;
    width: 100px;
  }
}

@media screen and (min-width: $large) {
  .nav-menu {
    gap: 40px;
  }
}